[MAIN]
ignore=setup_databse.py

[BASIC]
variable-naming-style=camelCase
function-naming-style=camelCase
const-naming-style=camelCase
module-naming-style=camelCase
attr-naming-style=camelCase
method-naming-style=camelCase
argument-naming-style=camelCase


[Message-Control]
disable =
    line-too-long,
    missing-docstring, 
    no-name-in-module,
    too-few-public-methods,
    import-error,
    too-many-statements,
    too-many-instance-attributes,
    unidiomatic-typecheck,
    too-many-locals,
    duplicate-code,
    broad-exception-caught,
    too-many-positional-arguments,
    too-many-arguments,
    inconsistent-return-statements,
    consider-using-from-import
